<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.syairraputri.e_ridi">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo_e_ridi"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ERidi"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".BerandaActivity"
            android:exported="true" />
        <activity
            android:name=".CekPadiku"
            android:exported="false" />
        <activity
            android:name=".MenuKeluar"
            android:exported="false" />
        <activity
            android:name=".MenuCekPadiku"
            android:exported="false" />
        <activity
            android:name=".MenuBantuan"
            android:exported="false" />
        <activity
            android:name=".MenuInfoPenyakit"
            android:exported="false" />
        <activity
            android:name=".Bantuan"
            android:exported="false" />
        <activity
            android:name=".InfoPenyakit"
            android:exported="false" />
        <activity
            android:name=".BacterialLeafBlight"
            android:exported="false" />
        <activity
            android:name=".BrownSpot"
            android:exported="false" />
        <activity
            android:name=".hispa"
            android:exported="false" />
        <activity
            android:name=".LeafBlast"
            android:exported="false" />
        <activity
            android:name=".Healthy"
            android:exported="false" />
    </application>

</manifest>
